# Backoffice environment variables
NEXT_PUBLIC_API_URL=/api/v1
NEXT_PUBLIC_MOCK_API=true
API_BACKEND_URL=http://localhost:8000/api
NEXT_PUBLIC_MOCKED_APIS=/auth/login,/admin/login
NEXT_PUBLIC_MOCK_TOKEN=
